<section class="page_header">
  <h1>Page B</h1>
</section>

<section class="page_body">
  <ul>
    <li>
      <.link navigate="/page_a">TO PAGE A</.link>
    </li>
    <li>
      <.link navigate="/page_c/tab_2">TO PAGE C tab 2</.link>
    </li>
  </ul>
</section>
