<section class="page_header">
  <h1>Page C active tab <%= @tab %></h1>
</section>

<section class="page_body">
  <ul>
    <li>
      <.link navigate="/page_a">TO PAGE A</.link>
    </li>
    <li>
      <.link navigate="/page_b">TO PAGE B</.link>
    </li>
  </ul>
</section>
