<section class="page_header">
  <h1>Page A</h1>
</section>

<section class="page_body">
  <ul>
    <li>
      <.link navigate="/page_b">TO PAGE B</.link>
    </li>
    <li>
      <.link navigate="/page_c/tab_1">TO PAGE C tab 1</.link>
    </li>
  </ul>
</section>
