<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:public_hash_id]} type="text" label="Public hash" />
  <:actions>
    <.button>Save Session</.button>
  </:actions>
</.simple_form>
