<section class="page_header">
  <h1>Page C</h1>
</section>

<section class="page_body">
  <Navigation.tabs tabs_list={@tabs_list}>
    <Navigation.list navigation_configuration={@navigation_configuration} />
  </Navigation.tabs>
</section>
